---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Akshay Sinha - DevOps Engineer with 17+ years of experience"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<style>
		.hero-image {
			width: 10%;
			max-width: 100px;
			max-height: 100px;
		}
	</style>
	<p>
		Hey there! I’m Akshay Sinha, a DevOps enthusiast with 17+ years of experience turning complex tech challenges into smooth, automated solutions. I specialize in cloud transformations, CI/CD pipelines, and infrastructure automation—and I love diving into freelance projects that need a strategic touch.
	</p>

	<p>
		Over the years, I’ve led large-scale IT initiatives across India, the UK, and the US, working with tools like Kafka, Cloudant, WebSphere, and more. My proudest moments? Lots!!. From leading the deployment squad for Passport Seva Project to leading DevOps at Universal Studios Orlando; transforming mundane regulatory compliance into automated governance;to introducing modern practices in Fintech !! And More
	</p>

	<p>
		I’m also big on writing technical articles and solving problems through smart tech and innovation. Whether it’s building high-availability systems or mentoring teams, I’m all about creating scalable, secure, and user-friendly solutions.
	</p>

	<p>
		Looking to optimize your DevOps game or automate your infrastructure setup? Let’s chat! Reach me at akshaysin@gmail.com — I’d love to explore how we can collaborate.
	</p>
</Layout>
